@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand d-flex justify-content-center" ">
        <div class="navbar-nav d-flex justify-content-center">
            <a class="nav-item nav-link" href="/Student/Index">Get All</a>
            <a class="nav-item nav-link" href="/Student/Create">Create</a>
            <a class="nav-item nav-link" href="/Student/Update">Update</a>
            <a class="nav-item nav-link" href="/Student/Delete">Delete</a>
        </div>
    </nav>

    <header>
    </header>
    <main>
        This is main Content
    </main>
    <footer>
    This is footer
    </footer>

</body>
</html>
