
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <title>Create</title>
</head>
<body>
    <header class="d-flex justify-content-center">
        <h1>Create New Student Course </h1>
    </header>
    <main>
        <span>This Must be add student</span>
    </main>
    <footer>This is footer</footer>
</body>
</html>
