
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <header>Delete Page</header>
    <main>Delete Students</main>
    <footer>This is footer</footer>
</body>
</html>
