@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>


    <header>
        <span>get all Student</span>
    </header>
    <main >
        
    </main>
    <footer>This is footer</footer>

</body>
</html>
